* 
{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;

}
.head-box 
{
    border-style: solid;
    border-color: rgb(188, 20, 20);
    text-align: right;
    padding: 10px;
    color: white;
    background-color: rgb(188, 20, 20);
    font-size: 20px;
    text-decoration: none;
}

#head-id 
{
    color: white;
}

.main-box 
{
    border-style: solid;
    border-color:rgb(179, 21, 21);
    background-color: rgb(179, 20, 20);
}

#orpah 
{
    text-align: center;
    color: white;
    font-size: 35px;
}

#winfrey 
{
    text-align: right;
    color: white;
    font-size: 35px;
}

#supply 
{
    text-align: center;
    font-size: 40px;
}

#image 
{
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    height:100;
    width:100;
}

.table 
{
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.table-row 
{
    color: rgb(179, 19, 19);
}

.def 
{
    margin-left: auto;
    margin-right: auto;
}

#note 
{
    font-size: 25px;
    color: rgb(68, 68, 205);
}

#form 
{
    border: 1px;
    border-color: rgb(179, 20, 20);
    background-color: rgb(180, 20, 20);
    color: white;
    padding: 7px;
    font-size:35px;
}

.place-order 
{
    color: rgb(181, 19, 19);
    font-size: 35px;
    text-align: center;
}

.forms 
{
    font-size: 30px;
    color: rgb(62, 62, 193);

}

#confirm-request 
{
    border: 2px;
    border-color: rgb(179, 20, 20);
    background-color: rgb(179, 21, 21);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    font-size: 20px;
}

.confirmation 
{
    text-align: center;
    font-size: 20px;
}